  
<div class="container">
  <!-- Carousel
  ================================================== -->
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="item active">
        <%= image_tag("https://s3.amazonaws.com/marcelandkim/wedding/couple1.jpg") %>
        <div class="container">
          <div class="carousel-caption">
            <h1>Welcome to our page</h1>
            <p></p>
            <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
          </div>
        </div>
      </div>
      <div class="item">
        <%= image_tag("https://s3.amazonaws.com/marcelandkim/wedding/delavant-crop.png") %>
        <div class="container">
          <div class="carousel-caption">
            <h1>Del'Avant Event Center</h1>
            <p><%= link_to "Event Center Information", venue_path, class: "btn btn-primary btn-lg" %></p>
          </div>
        </div>
      </div>
      <div class="item">
        <%= image_tag("https://s3.amazonaws.com/marcelandkim/wedding/wedding-party-crop.png") %>
        <div class="container">
          <div class="carousel-caption">
            <h1>The Wedding Party</h1>
            <p>Emphasis on the PARTY!!!</p>
            <p><%= link_to "View Wedding party", party_path, class: "btn btn-primary btn-lg" %></p>
          </div>
        </div>
      </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
  </div><!-- /.carousel -->
</div>
