
<div class="jumbotron">
  <div class="container">
    
      <div class="col-lg-6">
        <img src="https://s3.amazonaws.com/marcelandkim/logos/Hampton-Inn-Logo_full.png" alt="Hampton Inn" width="350" height="229" >
        <p>
          <!-- Button trigger modal -->
          <button class="btn btn-info" data-toggle="modal" data-target="#hampton">
            View Details &raquo; 
          </button>
        </p>
      </div>
      
        <!-- Modal -->
      <div class="modal fade" id="hampton" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title" id="myModalLabel">Hampton Inn</h4>
            </div>
            <div class="modal-body">
              <p class="center"><img src="http://maps.google.com/maps/api/staticmap?center=33.0030850,-85.0121610&zoom=14&size=300x200&maptype=roadmap&sensor=false&language=en&markers=color:green|label:none|33.0030850,-85.0121610" ></p>
              <p><%= link_to "Hampton Inn - LaGrange", "http://hamptoninn3.hilton.com/en/hotels/georgia/hampton-inn-lagrange-near-callaway-gardens-LAGGAHX/index.html?WT.mc_id=EPEMHXResconfEN", :target => "_blank" %></p>
              <p><%= link_to "Directions from airport", "http://goo.gl/maps/hZnTZ", :target => "_blank" %></p>
              <p><%= link_to "Directions to venue", "http://goo.gl/maps/ShNuI", :target => "_blank" %></p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div>
        
      <div class="col-lg-6">
        <img src="https://s3.amazonaws.com/marcelandkim/logos/holiday_inn_express.png" alt="Holiday Inn Express & Suites" width="350" height="173" >
        <p>
          <!-- Button trigger modal -->
          <button class="btn btn-info" data-toggle="modal" data-target="#holiday">
            View Details &raquo; 
          </button>
        </p>
      </div>
      
        <!-- Modal -->
      <div class="modal fade" id="holiday" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title" id="myModalLabel">Holiday Inn Express & Suites</h4>
            </div>
            <div class="modal-body">
              <p class="center"><img src="http://maps.google.com/maps/api/staticmap?center=33.6573431,-84.5130388&zoom=13&size=300x200&maptype=roadmap&sensor=false&language=en&markers=color:green|label:none|33.6573431,-84.5130388" ></p>
              <p><%= link_to "Holiday Inn Express & Suites - Atlanta", "http://www.ihg.com/holidayinnexpress/hotels/us/en/atlanta/atlqr/hoteldetail", :target => "_blank" %></p>
              <p><%= link_to "Directions from airport", "http://goo.gl/maps/nXLDy", :target => "_blank" %></p>
              <p><%= link_to "Directions to venue", "http://goo.gl/maps/joAQ2", :target => "_blank" %></p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div>
    
  </div>
</div>
