<nav class="navbar-wrapper">
  <div class="container">

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to "M & K Wedding", root_path, class: "navbar-brand" %>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><%= link_to "Hotels", hotels_path %></li>
            <li><a href="#">RSVP</a></li>
            <li><%= link_to "Contact", contact_path %></li>
            <% if user_signed_in? %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Settings <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li>
                  <%= link_to pins_path do%>
                    <span class="glyphicon glyphicon-pushpin"></span> View Pins
                  <% end %>
                </li>
                <li>
                  <%= link_to new_pin_path do %>
                    <span class="glyphicon glyphicon-upload"></span> Upload Pin
                  <% end %>
                </li>
                <li class="divider"></li>
                <li class="dropdown-header">
                  <span class="glyphicon glyphicon-user"></span> Account
                </li>
                <li>
                  <%= link_to edit_user_registration_path do %>
                    <span class="glyphicon glyphicon-cog"></span> Account Settings
                  <% end %>
                </li>
                <li>
                  <%= link_to destroy_user_session_path, method: :delete do %>
                    <span class="glyphicon glyphicon-log-out"></span> Log Out
                  <% end %>
                </li>
              </ul>
            </li>
            <% else %>
            <li><%= link_to "Sign in", new_user_session_path %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>

  </div>
</nav>
